.ti {
    text-align: center;
    color: black;
    font-weight: bold;
    font-weight: 900;
}

.bandeira {
    width: 50rem;
    height: 24rem;
    border-radius: 10rem;
    border: 0.313rem solid black auto;
    box-shadow: 5px 10px grey;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.paisagem {
    width: 50rem;
    height: 24rem;
    border-radius: 10rem;
    border: 0.313rem solid black auto;
    box-shadow: 5px 10px grey;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.economias {
    width: 50rem;
    height: 24rem;
    border-radius: 10rem;
    border: 0.313rem solid black auto;
    box-shadow: 5px 10px grey;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}


.povo {
    width: 50rem;
    height: 24rem;
    border-radius: 10rem;
    border: 0.313rem solid black auto;
    box-shadow: 5px 10px grey;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}





.resumo {
    padding: 5rem;
    padding-top:  5rem;
    padding-bottom: 0.7rem;
}

.cn {
    padding: 0rem;
    padding-top:  0rem;
    padding-bottom: 0.7rem;
}

.historia {
    padding: 5rem;
    padding-top:  5rem;
    padding-bottom: 0.7rem;
}

.economia {
    padding: 5rem;
    padding-top:  5rem;
    padding-bottom: 0.7rem;
}

.idioma {
    padding: 5rem;
    padding-top:  5rem;
    padding-bottom: 0.7rem;
}

.população {
    padding: 5rem;
    padding-top:  5rem;
    padding-bottom: 0.7rem;
}

.botões {
    padding: 5rem;
    padding-top:  1rem;
    padding-bottom: 0.7rem;
}

/*História*/

.btnH {
    border: 15%;
    border-radius: 0.626rem;
    padding: 0.626rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-primaria-button);
    outline-color: black;
    color: var(--cor-secundaria-button);
    transition: background .3s;
}

.btnH:hover {
    background-color: var(--cor-hover-button);
}

.btnH:active {
    color: white;
    background-color: var(--cor-secundaria-button);
}

/*Economia*/

.btnE {
    border: 15%;
    border-radius: 0.626rem;
    padding: 0.626rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-primaria-button);
    outline-color: black;
    color: var(--cor-secundaria-button);
    transition: background .3s;
}

.btnE:hover {
    background-color: var(--cor-hover-button);
}

.btnE:active {
    color: white;
    background-color: var(--cor-secundaria-button);
}

/*Idioma*/

.btnI {
    border: 15%;
    border-radius: 0.626rem;
    padding: 0.626rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-primaria-button);
    outline-color: black;
    color: var(--cor-secundaria-button);
    transition: background .3s;
}

.btnI:hover {
    background-color: var(--cor-hover-button);
}

.btnI:active {
    color: white;
    background-color: var(--cor-secundaria-button);
}

/*População*/

.btnP {
    border: 15%;
    border-radius: 0.626rem;
    padding: 0.626rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-primaria-button);
    outline-color: black;
    color: var(--cor-secundaria-button);
    transition: background .3s;
}

.btnP:hover {
    background-color: var(--cor-hover-button);
}

.btnP:active {
    color: white;
    background-color: var(--cor-secundaria-button);
}

/*Início*/

.btnFiji {
    border: 15%;
    border-radius: 0.626rem;
    padding: 0.626rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cor-primaria-button);
    outline-color: black;
    color: var(--cor-secundaria-button);
    transition: background .3s;
}

.btnFiji:hover {
    background-color: var(--cor-hover-button);
}

.btnFiji:active {
    color: white;
    background-color: var(--cor-secundaria-button);
}